.navbar {
    background-color: #304bcf;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    color: white;
  }
  
  .navbar a {
    background-color: #fff;
    color: #304bcf;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: #ddd;
  }
  
  .sub-navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #1b5ce4;
    color: white;
  }
  
  .sub-navbar a {
    flex: 1;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  
  .active-link {
    background-color: #0f3b8c;
  }

  .TrimFit {
    background-image: url('../assets/Home.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  /* TrimFit.css */
.home {
    background-image: url('../assets/Home.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .privacy {
    background-image: url('../assets/Reviews.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .terms {
    background-image: url('../assets/Contact.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .contact {
    background-image: url('../assets/Contact.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }